.main-nav {
  height: 5.625rem;
  background-color: rgba(0,0,0,0.76);
  width: 100%;
  padding-top: 0.75rem;
  position: absolute;
  z-index: 2;
  @extend .px-md-5;
}

.main-menu {
  list-style: none;
  padding-top:1rem;
  li {
   display: inline;
    @extend .mx-md-4;
    @extend .white;
    @extend .text-ar-2;
  }
}

.justice-goals {
  padding-top: 3.75rem ;
    h4 {
      @extend .text-ar-1;
      @extend .red;
      text-align: center;
      margin-bottom: 1.9375rem;
    }
  .image-holder {
    text-align: center;
    img {
      height : 10.625rem;
      margin-bottom: 2.75rem;
    }
  }
  p {
    padding-right: 2.5rem;
    padding-left: 1.3125rem;
  }

}

.video-section {
  position: relative;
  background-color: black;
  max-height: 100vh;
  height: 60rem;
  overflow: hidden;
  .thumbnail-cover{
    height : 100vh ;
    background-size: cover;
    background-image: url('../assets/backgrounds/bg-1.jpg');
  }
  color : $white;
  p{
    color : $white;
  }
  .date {
    font-family: Cairo-Regular;
    font-size :  1.125rem;
  }
  .black-layer-2 {
    padding-top : 12.5rem;
  }

  .play-btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
    width: 5rem;
  }
  .video-controls {
    .left {
      position :absolute;
      top:50%;
      left: -3%;
      @media screen and (max-width: 960px) {
        height: 5rem;
      }
    }
    .right {
      @extend .left;
      right: -3%;
      left:unset;

      @media screen and (max-width: 960px) {
        transform: translateY(-8%);
        height: 5rem;
      }
    }
  }

  .video-item {
    position : absolute;
    opacity: 0;
    visibility: visible;
    transition: all 0.5s ease-out;
    width: 94%;


  }
  .video-item.active {

    opacity: 1;
    visibility: visible;
    transform: translateX(0%);

    @media screen and (max-width: 960px) {
      transform: translateX(4%);
    }
  }

}

.sondage-slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  .left {
    left : 2.5rem;
    position: absolute;
  }
  .right {
    right : 2.5rem;
    position: absolute;
  }

  @media screen and (max-width: 960px) {
    top: 62%;
  }

}

.sondage-section {
  padding-top : 3.125rem;
  .sondage-icon {
    img {
      height: 9.8125rem;
    }
  }


  .percentage {
    font-family: Akrobat-ExtraBold;
    color : $red;
    font-size: 9.125rem;


  }
@media screen and (max-width: 960px) {
  .percentage {
    font-size: 9.125rem;
  }

}

  .stats {
    p {
      padding-left: 5.1875rem;
    }
  }

  .right-border-red {
    border-right: 3px #be0a26 solid;
    padding-left: 0 !important;
    padding-right: 2.5rem !important;
  }
}


.documents-section {
  background-image: url('../assets/backgrounds/maze3-1.png');
  background-color: #F2F2F2;
  .documents-icon{
    @extend .mt-md-0;
    @extend .mt-3;
    text-align: center;
    img {
      height: 5.1875rem;
      margin-bottom: 0.875rem;
    }
    p{
      font-family: Cairo-Regular;
      font-size: 1.4375rem;
      color: $red;
      height : 60px
    }
    .desc {
      color : $black;
      height: unset;

    }
  }
}

.newsletter-input {
  background-color : transparent;
  font-family: Cairo-Regular;
  font-size: 1rem ;
  color : $white ;
  background-image : url('../assets/icons/icon_ email.png');
  background-repeat: no-repeat;
  background-position : 97%,50%;
  padding : 0.9375rem 41px 0.9375rem 0.9375rem ;
  border : 1px #464646 solid ;
  margin-top:0.625rem;
  &::placeholder {
    opacity : 0.5;
    color : $white ;
  }
}

.video-player {
  width: 100%;
  height: auto;
}

.slide-down-icon {
  width: 48px;
  position : absolute;
  left : 50%;
  bottom : 40px;
  transform: translateX(-50%);
}