.political-parties {
    @extend .pt-5;
  padding-bottom: 4.0625rem;

  table {
    margin-top : 4.6875rem;
    th {
      width: 15.625rem;
      font-family: Cairo-Regular;
      font-weight: bold;
      font-size: 1.125rem;
      color : #ffffff;
      background-color: $red;
      text-align: center;
      padding: 1.6875rem;
      line-height: 1.33;
    }
    th.empty {
      background-color: transparent;
    }

    td {
      font-family: Cairo-Regular;
      text-align: center;
      font-weight: bold;
      font-size: 1.125rem;
      color: #333333;
      width: 15.625rem;
      padding: 1.6875rem;
      border-bottom: 1px #f7f7f7 solid;
      span {
        width: 1rem;
        height: 1rem;
        display: inline-flex;
        border-radius: 50%
      }
    }
    td.partie {
      background-color: #f7f7f7 ;
      img {
        width: 2.1875rem;
        @extend .mx-3;
      }
    }

    .green {
      background-color: #7cd90f;
    }
    .red {
      background-color: $red;
    }
    .gray {
      background-color: #b3b3b3;
    }
  }
}